doctype html
html(lang="en")
  include html/head
  body
    include html/header
    main.main This is Main 
      img.main__img(src="@img/gulp.jpeg", alt="img")
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sunt perferendis fuga iste optio illum magni. Obcaecati velit, hic, beatae laboriosam, libero nobis quo odit blanditiis veritatis iusto magnam aspernatur.
      hr
    include html/footer
